<div class="chat-window">
  <h1>Chat</h1>
  <hr>

  <div class="app-mensajes" id="app-mensajes">
    <div *ngFor="let chat of fireStore.chats"
      [ngClass]="{'text-right': uid == chat.uid}">

      <span class="badge "
      [ngClass]="{'badge-success': uid == chat.uid,'badge-primary': uid != chat.uid}">{{chat.nombre}}</span>
      <p>
        {{chat.mensaje}}
      </p>
    </div>
  </div>
  <input type="text" name="mensaje" [(ngModel)]="mensaje"
    class="form-control"
    (keyup.enter)="enviar_mensaje()"
    placeholder="Enviar mensaje">

</div>

